<div id="files-app" v-bind:class="{ 'list-view': listView }">
  <div class="page__name">Files
    <div class="page__counter" v-cloak>{{totalFileCount !== null ? totalFileCount : '?'}}</div>
  </div>
  <div class="cards-grid">
    <upload-card
      v-bind:upload-error-message="uploadErrorMessage"
    ></upload-card>
    <file-card
      v-for="file in sortedFiles" v-bind:file="file"
      v-bind:list-view="listView"
      v-bind:uploaded="file.channelId !== null"
      v-bind:ref="`fileMessageId${file.messageId}`"
      v-bind:key="file.messageId"
    ></file-card>
    <status-card
      v-bind:total-file-count="totalFileCount"
      v-bind:files-to-load-currently="filesToLoadCurrently"
      v-bind:loading-in-progress="loadingInProgress"
      v-bind:loading-error="loadingError"
      ref="statusCard"
    ></status-card>
  </div>
</div>
