<% if (user) { %>
  <ul id="user-menu" class="user-menu" tabindex="0">
    <li id="switch-theme-button" class="user-menu__button user-menu__button--switch-theme">
      <span class="user-menu__button--dark-theme">Dark theme</span>
      <span class="user-menu__button--light-theme">Light theme</span>
    </li>
    <a href="/logout"><li class="user-menu__button user-menu__button--logout">Log out</li></a>
  </ul>
<% } %>
