<div class="page__name">Welcome to&nbsp;Debris</div>
<p>Agile&nbsp;file&nbsp;hosting. Powered&nbsp;by&nbsp;Discord.</p>
<div class="cards-grid">
  <a href="/login" class="card--full-width"><div class="card card--positive-state">Log&nbsp;in with Discord now</div></a>
</div>
